* {
    margin: 0;
    padding: 0;
}

body{
    background:url('../images/mountainbackground.jpg');
}
h1 {
    text-align: center;
    padding: 20px;
}
table {
    margin: auto;
}
.form1 {
    text-align: right;
    padding: 20px;
}
.form3 {
    text-align: center;
    padding: 20px;
}

table, tr, td, form, .btn {
    padding: 5px;
}
