<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mountain</title>
    {% load static %}	
    <link rel="stylesheet" href="{% static 'ski/css/list.css' %}"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">  
</head>
<body>

    <h1>Welcome {{firstname}} {{lastname}} and Select the Mountains you want to visit or  write Reviews!</h1>

    <div class="form1">
        <form action = "/logout" method = "POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-dark">Logout</button>
        </form>
    </div>

    {% for message in messages %}            <!-- loop through the messages -->
    <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
    {% endfor %}

    <table>
        <tr>
            <th>Mountains</th>
            <th>Locations</th>
            <th>Options</th>
        </tr>
    {% for mount in all_Mountain %}
    <tr>
        <td>{{mount.mountain}}</td>
        <td>{{mount.location}}</td>
        <td>
            <form action = "/blog" method = "POST">
            {% csrf_token %}
            <input type = "hidden" name = "mountainid" value = "{{mount.id}}">
            
            <button type="submit" class="btn btn-primary">Post Reviews</button>
            </form>
            
            <form action = "/view" method = "POST">
                {% csrf_token %}
                <input type = "hidden" name = "mountainid" value = "{{mount.id}}">
                
                <button type="submit" class="btn btn-dark">View Blog</button>
            </form>
            
            <form action = '/like' method = 'Post'>
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Like</button>
                <input type = "hidden" name = "mountainid" value = "{{mount.id}}">
                <input type = "hidden" name = "userid" value = "{{id}}">
            </form>
            <form action = '/unlike' method = 'Post'>
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Unlike</button>
                <input type = "hidden" name = "mountainid" value = "{{mount.id}}">
                <input type = "hidden" name = "userid" value = "{{id}}">
            </form>

        </td>
    </tr>


    {% endfor %}
    </table>
    <div class="form3">
        <form action = "/newMountain" method = "POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-dark">Add Mountain</button>
        </form>
    </div>
</body>
</html>